<ion-header no-border>
  <h1>{{ "label.app_name" | translate }}</h1>
  <img [src]="'assets/img/auth/avionenvol.png'" id="imgLogoPlane" />
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-list>
      <ion-item lines="none">
        <ion-label position="stacked">{{ 'label.identifier' | translate }}</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">{{ 'label.password' | translate }}</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-row>
          <ion-col id="checkbox-col">
            <ion-checkbox formControlName="checked"></ion-checkbox>
          </ion-col>
          <ion-col>
            <ion-label class="ion-text-wrap">J'ai lu et j'accepte les <a [routerLink]="['/mentions-legales']">mentions
                légales</a> et les <a [routerLink]="['/conditions-generales']">conditions générales</a> de l'application
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-item>

      <div padding text-center>
        <ion-button type="submit" color="primary" [disabled]="loginForm.invalid && false">
          {{ 'button.login' | translate }}
        </ion-button>
        <br> <img [src]="'assets/img/auth/token_large.png'" class="rsa">
      </div>

    </ion-list>
  </form>

</ion-content>