@import "../../../theme/variables.scss";

ion-header {

  h1 {
    text-align: center;
    font-size: 3em;
  }

  #imgLogoPlane {
    display: block;
    margin-left: 10%;
    width: 80%;
  }
}

ion-content {

  form {
    padding-left: 10vw;
    padding-right: 10vw;

    #checkbox-col {
      display: flex;
      max-width: 40px;
      margin: 10px;
      align-items: center;

      ion-checkbox {
        margin: 0;
      }
    }

    .item-input {
      margin-bottom: 0.7em;

      ion-input {
        border: 1px solid #ccc;
        padding: .2em .5em !important;
        border-radius: 1em;

      }

      ion-label {
        font-size: 1em;
        margin-bottom: .5em !important;
      }
    }

    .rsa {
      height: 50px;
    }

    button {
      text-transform: uppercase;

      font-weight: bold;
      font-size: 0.8em;
      padding: 8px;
      margin: 5px;
      border-radius: 4px;
      letter-spacing: 1px;
    }
  }
}

@media (min-height: 500px){
  ion-content {
    form {
      margin-top: 10vh;
    }
  }
}

@media (min-height: 650px){
  ion-content {
    form {
      margin-top: 20vh;
    }
  }
}
