<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="! hideBackButton" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    CREWLINE
    <ion-buttons slot="end">
      <ion-button (click)="menu.open('menu')">
        <ion-img src="/assets/icon/molette.svg"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>