<app-header></app-header>

<ion-content id="content" padding="true">
    <h1>Mentions d’information GDPR pour un processus interne (données « employés »)</h1>
    <br>
    <h3>Objet du traitement (finalité et base légale) :</h3>
    <p>Conformément à la réglementation applicable en matière de protection des données à caractère personnel, notamment les dispositions de la loi « informatique et libertés » du 6 janvier 1978 modifiée et du Règlement Général sur la Protection des Données (Règlement UE 2016/679) ou « RGPD », Air France, en qualité de responsable de traitement, vous informe que les informations recueillies dans Crew Line font l'objet d'un traitement de données à caractère personnel.</p>
    <p>Ces données sont collectées et traitées dans le cadre d’un dispositif d’assistance personnalisée aux personnels navigants.</p>
    <p>La base légale du traitement est l’intérêt légitime d’Air France (cf. article 6.1.f du Règlement Général sur la Protection des Données ou RGPD).</p>
    <h3>Catégories de données personnelles</h3>
    <p>Les catégories de données personnelles qui sont collectées dans le cadre de ce dispositif sont les suivantes :</p>
    <ul>
        <li>Nom, prénom, matricule, grade</li>
    </ul>
    <p>Toutes les données recueillies sont nécessaires pour l’utilisation du service CREW LINE. En l’absence de recueil de ces données, le personnel ne sera pas en mesure de s’identifier au service CREW LINE et communiquer avec l’assistance personnelle.</p>
    <h3>Durée de conservation des données :</h3>
    <p>Les données sont conservées pendant toute la durée du contrat chez Air France du personnel navigant.</p>
    <h3>Destinataires des données :</h3>
    <p>Les données sont destinées au département OA/IS ainsi qu’aux sous-traitants auxquels AIR FRANCE fait appel pour la mise en œuvre du traitement soit la société KHOROS.</p>
    <h3>Transfert de données hors UE :</h3>
    <p>Certains des destinataires ou sous-traitants mentionnés ci-dessus sont susceptibles d'être établis en dehors de l’Espace Economique Européen et dans un pays dont le niveau de protection n’est pas considéré comme adéquat par la Commission Européenne. Les transferts correspondants sont réalisés en conformité avec les dispositions légales et règlementaires applicables, notamment au travers de la signature, au cas par cas, de clauses contractuelles basées sur le modèle de la commission européenne, ou tout autre mécanisme conforme RGPD.</p>
    <h3>Droits des personnes :</h3>
    <p>Conformément à la réglementation applicable en matière de protection des données à caractère personnel, vous disposez du droit de définir des directives relatives à la conservation, à l’effacement et à la communication de vos données à caractère personnel post mortem.</p>
    <p>Pour exercer ces droits ou pour toute question sur le traitement de vos données à caractère personnel dans ce dispositif, vous pouvez adresser votre demande à votre RRH dont le contact est disponible dans les e-services RH dans l’onglet Organisation -->Mes contacts utiles.</p>
    <p>Air France a désigné un Délégué à la Protection des Données, qui peut être contacté par e-mail à mail.data.protection@airfrance.fr. Vous pouvez également introduire une réclamation auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL) ou de toute autre autorité compétente.</p>
</ion-content>
