<app-header></app-header>
<ion-content id="content" padding="true">
    <h1>Conditions générales d'utilisation de l'application CREWLINE</h1>
    <br>
    <h3>CONDITIONS GENERALES D'UTILISATION </h3>
    <p>Les présentes conditions générales ont pour objet de définir les modalités d'accès des Mentions d’information GDPR pour un processus interne V.1.2 utilisateurs au système d'information d'Air France.</p>
    <p>Le système d'information mis à disposition des utilisateurs est un outil professionnel. Il appartient à chacun d'adopter un comportement professionnel et responsable lors de son utilisation.</p>
    <p>Air France est seul juge de la mise à disposition de son système d'information et se réserve le droit d'en restreindre ou d'en suspendre à tout moment l'accès.</p>
    <p>L'ensemble des données, textes, informations, images, photographies ou tout autre contenu diffusé sur le site relèvent de la pleine et entière propriété d'Air France. Ces informations font l'objet d'une protection au titre du droit de la propriété intellectuelle. Par conséquent, les utilisateurs ne peuvent utiliser ces éléments qu'à des fins exclusivement privées (cercle familial).</p>
    <p>A l'exception des dispositions ci-dessus, toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie des éléments du site sans l'accord écrit d'Air France pourra donner lieu à des poursuites conformément au Code de la Propriété Intellectuelle.</p>
    <p>La mise en place de tout moyen (automates, liens hypertextes, etc…) permettant un accès vers tout ou partie de l'Application CREW LINE est strictement interdite, sauf autorisation préalable et écrite d'Air France.</p>
    <p>Les atteintes ou tentatives d'atteinte aux systèmes de traitement automatisé de données d'Air France sont passibles de sanctions pénales et/ou de peines complémentaires conformément aux articles 323-1 et suivants du code pénal.</p>
    <p>Sont notamment interdits les actes suivants dès lors qu'ils ont été commis sciemment :</p>
    <ul>
        <li>le détournement des informations propres à Air France,</li>
        <li>la collecte, l'enregistrement, l'archivage et la transmission à des tiers des données nominatives ou non sans autorisation préalable d'Air France,</li>
        <li>L'utilisation du réseau dans le but de concurrence déloyale, notamment en jetant le discrédit sur les produits, les services et le savoir-faire d'Air France et de ses partenaires,</li>
        <li>Le manquement à l'obligation de réserve en révélant des informations concernant tant Air France, que ses partenaires, agents, sous-traitants et clients,</li>
        <li>L'atteinte au secret professionnel,</li>
        <li>L'atteinte aux droits de propriété intellectuelle et droits de la personnalité, ainsi qu'à tout droit détenu ou concédé à Air France, et notamment en procédant à des copies, des modifications, des transmissions de logiciels, d'œuvres multimédias ou de toute autre création artistique ou industrielle, sans avoir obtenu les droits nécessaires de l'auteur ou du titulaire des droits,</li>
        <li>L'atteinte aux droits d'auteur, qu'il s'agisse de création multimédia, de logiciels, de textes, de photos, d'images de toutes natures, étant précisé que toutes mentions relatives aux droits d'auteur ne pourront faire l'objet d’une suppression, d'une citation partielle ou d'une modification,</li>
        <li>La destruction, la dégradation ou la détérioration des biens appartenant à Air France ou à des tiers à l'aide du réseau,</li>
        <li>La réalisation ou la diffusion de fausses déclarations visant à falsifier les données de l'entreprise ou à tromper les destinataires ou les correspondants,</li>
        <li>La suppression ou la modification de données au préjudice d'Air France,</li>
        <li>Le fait de se maintenir frauduleusement dans tout ou partie des bases de données non autorisées,</li>
        <li>Les actions conduisant à entraver, fausser, altérer, détourner ou modifier le fonctionnement ou la configuration d'un système.</li>
    </ul>
    <p>Dans des circonstances très exceptionnelles, Air France peut être légalement amenée à communiquer des informations confidentielles lorsque cette démarche est nécessaire à l'identification, à l'interpellation ou à la poursuite en justice de tout individu susceptible de porter préjudice ou atteinte, intentionnellement ou non :</p>
    <ul>
        <li>aux droits ou à la propriété d'Air France,</li>
        <li>à d'autres Les présentes conditions générales ont pour objet de définir les modalités d'accès des utilisateurs au système d'information d'Air France. Utilisateurs du site d'Air France,</li>
        <li>à toute autre personne qui pourrait être pénalisée par de telles activités.</li>
    </ul>
    <p>La communication de données personnelles peut ainsi exceptionnellement intervenir lorsqu’Air France est légalement tenue de le faire, suite au dépôt d'une plainte par exemple.</p>
    <p>Air France pourra effectuer des mises à jour à tout moment des conditions générales d'utilisation définies aux présentes.</p>
</ion-content>
