// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #051025;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #fff;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #051025;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

// retina.scss
// A helper mixin for applying high-resolution background images (http://www.retinajs.com)
// Submitted by Nathan Crank
// nathancrank.com
// Updated by Gabriel R. Sezefredo
// gabriel.sezefredo.com.br
// Updated by John Newman
// github.com/jgnewman
// http://axial.agency

/**
 * Allows you to use retina images at various pixel densities.
 * Examples:
 *
 *   @include retina(/images/mypic.jpg, 2);
 *   @include retina(/images/mypic.jpg, 3, 100px 100px, left top no-repeat transparent);
 *
 * @param  {Value}  $path               The path to the file name minus extension.
 * @param  {Number} $cap:    2          The highest pixel density level images exist for.
 * @param  {Value}  $size:   auto auto  The intended width of the rendered image.
 * @param  {Value}  $extras: null       Any other `background` values to be added.
 */

 @mixin retina($path, $cap: 2, $size: auto auto, $extras: null) {
  /*
 * Set a counter and get the length of the image path.
 */
  $position: -1;
  $strpath: '#{$path}';
  $length: str-length($strpath);
  /*
 * Loop ver the image path and figure out the
 * position of the dot where the extension begins.
 */
  @for $i from $length through $length - 10 {
      @if $position==-1 {
          $char: str-slice($strpath, $i, $i);
          @if str-index($char, ".")==1 {
              $position: $i;
          }
      }
  }
  /*
 * If we were able to figure out where the extension is,
 * slice the path into a base and an extension. Use that to
 * calculate urls for different density environments. Set
 * values for different environments.
 */
  @if $position !=-1 {
      $ext: str-slice($strpath, $position + 1, $length);
      $base: str-slice($strpath, 1, $position - 1);
      $at1x_path: "#{$base}.#{$ext}";
      $at2x_path: "#{$base}@2x.#{$ext}";
      /*
   * Set a base background for 1x environments.
   */
      background: url("#{$at1x_path}") $extras;
      background-size: $size;
      /*
   * Create an @2x-ish media query.
   */
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
          background: url("#{$at2x_path}") $extras;
          background-size: $size;
      }
      /*
   * Create media queries for all environments that the user has
   * provided images for.
   */
      @if $cap>=2 {
          @for $env from 2 through $cap {
              $suffix: "@#{$env}x";
              @media (-webkit-min-device-pixel-ratio: $env), (min-resolution: $env * 96dpi) {
                  background: url("#{$base}#{$suffix}.#{$ext}") $extras;
                  background-size: $size;
              }
          }
      }
      /*
 * If anything went wrong trying to separate the file from its
 * extension, set a background value without doing anything to it.
 */
  }
  @else {
      background: url("#{$path}") $extras;
      background-size: $size;
  }
}

@mixin sampleIcon($path, $cap: 2, $size: auto auto) {

  content: url("#{$path}");
}

@mixin retinaIcon($path, $cap: 2, $size: auto auto) {

  /*
 * Set a counter and get the length of the image path.
 */
  $position: -1;
  $strpath: '#{$path}';
  $length: str-length($strpath);
  /*
 * Loop ver the image path and figure out the
 * position of the dot where the extension begins.
 */
  @for $i from $length through $length - 10 {
      @if $position==-1 {
          $char: str-slice($strpath, $i, $i);
          @if str-index($char, ".")==1 {
              $position: $i;
          }
      }
  }
  /*
 * If we were able to figure out where the extension is,
 * slice the path into a base and an extension. Use that to
 * calculate urls for different density environments. Set
 * values for different environments.
 */
  @if $position !=-1 {
      $ext: str-slice($strpath, $position + 1, $length);
      $base: str-slice($strpath, 1, $position - 1);
      $at1x_path: "#{$base}.#{$ext}";
      $at2x_path: "#{$base}@2x.#{$ext}";
      /*
   * Set a base background for 1x environments.
   */
      content: url("#{$at1x_path}");
      // background-size: $size;
      /*
   * Create an @2x-ish media query.
   */
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
          content: url("#{$at2x_path}");
          // background-size: $size;
      }
      /*
   * Create media queries for all environments that the user has
   * provided images for.
   */
      @if $cap>=2 {
          @for $env from 2 through $cap {
              $suffix: "@#{$env}x";
              @media (-webkit-min-device-pixel-ratio: $env), (min-resolution: $env * 96dpi) {
                  content: url("#{$base}#{$suffix}.#{$ext}");
                  // background-size: $size;
              }
          }
      }
      /*
 * If anything went wrong trying to separate the file from its
 * extension, set a background value without doing anything to it.
 */
  }
  @else {
      content: url("#{$path}");
      // background-size: $size;
  }
}

// mixin used in create-dda-rest-pnc to generate class
@mixin selected($position-top, $active) {
  &:after {
      content: "";
      border-bottom: 15px solid transparent;
      border-left: 15px solid #fff;
      border-top: 15px solid transparent;
      position: absolute;
      top: $position-top;
      right: -11px;
      z-index: 10;
      border-left: 15px solid #fff;
  }
  &:before {
      content: "";
      border-bottom: 15px solid transparent;
      border-top: 15px solid transparent;
      position: absolute;
      top: $position-top;
      right: -14px;
      z-index: 10;
      @if $active {
          border-left: 15px solid $accent-color;
      }@else {
          border-left: 15px solid #dedede;
      }
  }
}
