ion-item {
  color: 1px solid #051025;
  font-family: "Opens Sans";
  padding: 20px;
  font-size: 20px;
}

ion-list {

  height: 100%;

  #disconnection-button {
    bottom: 0;
    position: absolute;
  }
}

* {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  -o-user-select: auto !important;
  user-select: auto !important;
}