<ion-menu side="end" menuId="menu" content-id="app">
    <ion-content>
        <ion-list lines="none">
            <ion-item [routerLink]="['/']" (click)="menu.close('menu')">Messenger</ion-item>
            <ion-item [routerLink]="['/conditions-generales']" (click)="menu.close('menu')">Conditions Générales
            </ion-item>
            <ion-item [routerLink]="['/mentions-legales']" (click)="menu.close('menu')">Mentions Légales</ion-item>
            <ion-item *ngIf="!isLiveEnv()" (click)="impersonate()">Impersonate</ion-item>
            <ion-item id="disconnection-button" (click)="logout()">Effacer les données</ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-app id="app">
    <ion-router-outlet main></ion-router-outlet>
</ion-app>