<app-header [hideBackButton]="true"></app-header>
<ion-content id="content">
  <div id="impersonate-info">
    <b *ngIf="getImpersonatedUser()">Impersonate :
      {{getImpersonatedUser().registrationNumber}} {{getImpersonatedUser().firstName}}
      {{getImpersonatedUser().lastName}}</b>
  </div>
  <div id="top-part">
    <div class="login-in-progress" *ngIf="authenticationInProgress; else authenticationDoneBlock">
      {{ 'home.authent_in_progress' | translate }} <ion-spinner> </ion-spinner>
    </div>
    <ng-template #authenticationDoneBlock>
      <h2 *ngIf="getActiveUser(); else logonErrorBlock">
        {{getActiveUser().firstName}}&nbsp;{{getActiveUser().lastName}}</h2>
      <ng-template #logonErrorBlock>
        <div class="no-access">
          <ion-icon name="warning"></ion-icon><span>{{ 'home.error_retrieving_user_data' | translate }}</span>
        </div>
      </ng-template>
    </ng-template>
    <img class="ion-padding-bottom" src="/assets/icon/logo-crewline.svg" alt="crewline logo" />
    <h1>{{ 'home.welcome' | translate }}</h1>

    <h3>{{ 'home.welcome_message' | translate }}</h3>
  </div>
  <div id="bottom-part">
    <ion-button expand="block" fill="solid" color="light" (click)="openMessengerApp()" *ngIf="getActiveUser()">Messenger
    </ion-button>
  </div>
</ion-content>