ion-content {

  --ion-background-color: #051039;
  text-align: center;

  #impersonate-info {
    color: white;
    margin: 10px;
    height: 5%;
  }

  #top-part {

    height: 70%;
    padding: 7.5vh;

    @media screen and (max-width: 500px) {
      padding: 3vh;
    }

    .login-in-progress {
      color: white;
      font-size: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;

      ion-spinner {
        color: white;
        margin-left: 16px;
      }
    }

    img {
      margin: 2vh;
      margin-top: 4vh;
      height: 15vh;
      padding: 0;
    }

    h1 {
      font-size: 4vh;

      font-family: "Opens Sans";
      color: white;
      font-weight: 400;
    }

    h2 {
      font-size: 3vh;

      font-family: "Opens Sans";
      color: white;
      font-weight: 400;
    }

    h3 {
      font-size: 2vh;
      padding: 2vh;

      font-family: "Opens Sans";
      color: white;
      font-weight: 200;

    }


  }

  #bottom-part {

    height: 20%;

    ion-button {
      display: inline-block;
      width: 27vh;
      height: 7vh;
      border-radius: 1000px;

      font-family: "Excellence In Motion Screen";
      font-size: 3vh;
    }
  }

  .no-access {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: #051039;
    padding: 16px;
    font-size: 2.5vh;

    span {
      text-align: left;
    }

    ion-icon {
      margin-right: 16px;
      height: 80px;
      font-size: 8rem;

      @media screen and (max-width: 500px) {
        height: 50px;
        font-size: 5rem;
      }
    }
  }
}