@font-face {
	font-family:'Excellence In Motion Screen';
	src:	url('ExcellenceInMotionScreen-Regular.eot');
	src:	url('ExcellenceInMotionScreen-Regular.eot?#iefix') format('embedded-opentype'),
			url('ExcellenceInMotionScreen-Regular.woff2') format('woff2'),
			url('ExcellenceInMotionScreen-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family:'Excellence In Motion Screen';
	src:	url('ExcellenceInMotionScreen-Bold.eot');
	src:	url('ExcellenceInMotionScreen-Bold.eot?#iefix') format('embedded-opentype'),
			url('ExcellenceInMotionScreen-Bold.woff2') format('woff2'),
			url('ExcellenceInMotionScreen-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

