// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

body{
    padding-top: constant(safe-area-inset-top);//for iOS 11.2
    padding-top: env(safe-area-inset-top);//for iOS 11.1
}

@font-face {
    font-family: 'Opens Sans';
    src: url("assets/fonts/Opens_Sans/OpenSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Opens Sans';
    src: url("assets/fonts/Opens_Sans/OpenSans-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: 'Excellence In Motion Screen';
    src: url("assets/fonts/ExcellenceInMotionScreen_V1/TTF/ExcellenceInMotionScreen-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Excellence In Motion Screen';
    src: url("assets/fonts/ExcellenceInMotionScreen_V1/TTF/ExcellenceInMotionScreen-Bold.ttf");
    font-weight: 800;
}

